
.text-bienvenido{
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
}
.text-ejemplocv  {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2738f5;
}

.text-sube-cv{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.text-name_apellido{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;  
}
.text-pais{
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;   
}
.text-email{
   font-size: 16px;
   line-height: 24px;
   font-weight: 500; 
}
.text-experiencia{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

}
.text-habilidades{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.font-badge{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #232323;
}
.text-edu-fech{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #2738F5 ;

}