.logo-nav {
  width: 170px;
  height: 50px;
}

.navbar-devsafio {
  width: 100%;
  background-color: #2738f5;
}

.nav-button {
  border: 1px solid white;
  background-color: #2738f5;
  color: white;
}

.nav-button2 {
  background-color: white;
  color: #2738f5;
}
