.bg_body_register {
	background-color: #ffffff;
	height: 100vh; /* Ajusta según la altura deseada */
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-container {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px; /* Ajusta según el ancho deseado */
}

.form-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	color: #007bff;
}

.form-label {
	width: 100%;
	font-size: 16px;
	margin-bottom: 5px;
}

.form-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd; /* Agrega borde */
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 14px;
}

.form-button {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.form-button:hover {
	background-color: #0056b3;
}
