.footer-container {
	background-color: #2738f5;
	padding: 20px;
	color: white;
}

.footer-content {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}

.footer-icons {
	display: flex;
}

.footer-icons > * {
	margin-left: 1rem;
}

.footer-text {
	margin: 0;
	font-size: 1.2rem;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 30px;
	min-height: 30px;
	font-size: 20px;
	border-radius: 50%;
	background-color: white;
	color: #2738f5;
	cursor: pointer;
}

/* tablet */
@media screen and (max-width: 768px) {
	.icon {
		width: 15px;
	}
	.footer-text {
		margin: 0;
		font-size: 1rem;
	}
}

/*  celular */
@media screen and (max-width: 480px) {
	.footer-container {
	}
}
