.footer-container {
  background-color: #2738f5;
  padding: 20px;
  color: white;
  padding-left: 10rem;
  padding-right: 10rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons {
  display: flex;
}

.footer-icons > * {
  margin-left: 3rem;
}

.footer-text {
  margin: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  font-size: 30px;
  border-radius: 50%;
  background-color: white;
  color: #2738f5;
  cursor: pointer;
}

/* tablet */
@media screen and (max-width: 768px) {
  .footer-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*  celular */
@media screen and (max-width: 480px) {
  .footer-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}
