.banner-principal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: aliceblue;
	background: linear-gradient(to bottom, #2732db, #1e239a, #140b34);
	padding: 20px;
	box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.txt-btn-banner-principal {
	flex: 1; /* Toma el espacio disponible en la vista de escritorio */
	text-align: left;
	padding: 20px;
	box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
	width: 80%;
}

.txt-btn-banner-principal h1{
	color: white;
	margin-bottom: 2%;
}

.txt-btn-banner-principal h5{
	font-weight: 200;
	color: white;
	margin-bottom: 2%;
}


.img-banner-principal img {
	max-width: 100%;
	height: auto;
}


.btn-banner-principal button{
	font-weight: 600;
	color: #2738f5;
}



@media screen and (max-width: 768px) {
	.banner-principal {
		flex-direction: column; /* Cambia a una sola columna en vista m贸vil */
		align-items: stretch;
	}

	.txt-btn-banner-principal {
		flex: none; /* Deja de ocupar el espacio disponible en vista m贸vil */
		order: 2; /* Cambia el orden en vista m贸vil */
	}

	.img-banner-principal {
		margin-top: 20px; /* Agrega margen superior para separar la imagen del texto */
		order: 1; /* Cambia el orden en vista m贸vil */
	}
	.img-banner-principal img {
		margin-right: auto;
		margin-left: auto;
		width: 500px;
	}
}
