.como-funcionamos-section {
	display: flex;
	width: 100%;
	background-color: #fff;
	padding: 15px;
}

.cf-txt-1-izq {
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: center;
	padding: 10px;
}
.cf-txt-1-izq h3 {
	margin-top: 10px;
	margin-bottom: 35px;
}
.cf-txt-1-izq h6 {
	line-height: 1.5;
}

.cf-txt-2-der {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 10px;
	text-align: left;
}

.cf-txt-2-der img {
	height: 50%;
}

.cf-txt-2-der-txt-y-logo {
	display: flex;
	height: 30%;
}
.cf-txt-2-der-txt-y-logo h1 {
	font-style: italic;
}

.cf-txt-2-der-txt-y-logo-bottom {
	display: flex;
	align-items: center;
	margin: 25px;
	font-style: italic;
	text-align: center;
}

.cf-txt-2-der-txt-y-logo-bottom img {
	width: 15%;
	height: auto;
}

@media screen and (max-width: 828px) {
	.cf-txt-2-der {
		display: none;
	}

	.cf-txt-1-izq {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
		padding: 10px;
	}
}
